DISCORD_TOKEN=seu_token_aqui
CLIENT_ID=id_da_sua_aplicacao_discord
OWNER_ROLE_ID=id_do_cargo_dono
RANKING_CHANNEL_ID=id_do_canal_ranking
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nomedobanco
NODE_ENV=production
