DISCORD_TOKEN=
CLIENT_ID=1540788048856612944
OWNER_ROLE_ID=1540740015418642463
RANKING_CHANNEL_ID=1540792746615513268
DATABASE_URL=postgresql://postgres:ByJHLnQZCZasDiwUNcEBhEWRrfkNCNkL@postgres.railway.internal:5432/railway
NODE_ENV=production
